<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments::head">
<meta charset="UTF-8" />
</head>
<body style="background-color: #f3f3f3">
 <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto  ">
			
              <li class="nav-item mr-3 ml-2">
                <a class="nav-link" th:href="@{/principal/} + ${proyectoActivo}">Gestión del Proyecto <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item mr-3 ml-3">
                <a class="nav-link" th:href="@{/tecnicos}"> Gestión de Técnicos </a>
              </li>
              <li class="nav-item mr-3 ml-3">
                <a class="nav-link" th:href="@{/incidencias}"> Gestión de Incidencias </a>
              </li>
               <li class="nav-item active mr-3 ml-3">
                <a class="nav-link" href="#"><strong> Administración</strong> </a>
              </li>
            </ul>
          </div>
          <a class="navbar-brand text-warning pt-2 pb-2" th:href="@{/principal/logout}"><small><strong>Cerrar
					proyecto</strong></small></a>
        </nav>
    </header>

	<!-- MENU INTERNO DE LA PARTE DE ADMINISTRACIÓN -->
	<div class="container col-md-12 p-0">
		<div class="page-header">
		 <nav class="navbar navbar-expand-lg p-0" style="background-color: #faf9ad;">
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
		 	<ul class="navbar-nav mr-auto ">
              <li class="nav-item mr-5 ml-5">
                <a style="color: #8095e8" id="enlaceAdministracion" class="nav-link" th:href="@{/administracion}"> <strong>Provincias / Kilometraje </strong></a>
              </li>
              <li class="nav-item mr-5 ml-5">
                <a style="color: #364ea9;" id="enlaceAdministracion" class="nav-link" href="#"> <strong>Parámetros para los cálculos</strong> </a>
              </li>
            </ul>
		</div>
		</nav>
		</div>

	</div>
	
 	<!-- AQUI COMIENZA LA OPCION DE PARAMETROS  -->		

	<footer th:replace="fragments/fragments::footer"></footer>

</body>
</html>